New_UK_Model.py
Polling_Data.xlsx
UK_Constituency_Data_All.xlsx
UK_GE_Final_Map.xlsx
constituency_matcher_1979.html
match_1979_constituencies.py
README_1979_pipeline.md
ridings-1979-draft.json
svg_clusters.json
UK_1979_Ridings.xlsx
election_results_1979_template.xlsx
UK_1974_1979_Boundaries_full.geojson
UK_1974_1979_NI_Final.geojson
UK_1983_1987_Boundaries_full.geojson
UK_1983_1987_Boundaries_NI.geojson
UK_1992_Boundaries_full.geojson
UK_1955_1970_Boundaries_full.geojson
UK_MP_Scrape.py
uk_election_mps.csv
2016_Ref_Boundaries_processed.geojson
UK_Elections_1918.geojson
UK_Elections_1922_1935.geojson
UK_Elections_1945.geojson
UK_Elections_1950_1951.geojson
UK_MP_Scraper.py